* {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

ul {
  list-style: none;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 990px;
}

.navigation {
  display: table;
  margin-top: 40px;
  width: 100%;
}

.menu1 {
  display: flex;
  justify-content: space-between;
  background-color: #2a3644;
  border-radius: 3px;
}

.menu2 {
  display: table-row;
}

.menu2>li {
  display: table-cell;
}

.menu>.main>a {
  text-align: center;
}

div.bgc {
  background-color: #d2d4d5;
}

.menu>li:first-child>a {
  border-radius: 3px 0 0 3px;
}

.menu>li:last-child>a{
  border-radius: 0 3px 3px 0;
}

.menu3>li:last-child>a{
  border-radius: 0;
}

.inmenu li:first-child a {
  border-radius: 3px 3px 0 0;
}

.inmenu5 li:first-child a {
  border-radius: 3px 0 0 0;
}

.inmenu5 li:last-child a{
  border-radius: 0 0 0 3px;
}

.inmenu6 li:first-child a {
  border-radius: 0 3px 0 0;
}

.inmenu>li:last-child>a {
  border-radius: 0 0 3px 3px;
}

.menu a {
  display: block;
  font-size: 16px;
  font-weight: bold;
  font-family: "Arial";
  text-decoration: none;
}

.menu>li>a {
  padding: 14px 30px;
  background-color: #2a3644;
  color: #ffffff;
}

.menu>.main:not(:last-child) {
  border-right: 1px solid #3f4852;
}

.menu>.main:not(:first-child) {
  border-left: 1px solid #3f4852;
}

.inmenu li:not(:first-child) a {
  border-top: 1px solid #b9bdc1;
}

.main {
  position: relative;
}

.main a:hover {
  color: #fd8612;
  background-color: #3f4852;
}

.inmenu{
  display: none;
  position: absolute;
  z-index: 1;
  border-top: 5px solid transparent;
  padding: 0;
}

.inmenu2{
 position: absolute;
 left: 100%;
 top: -4px;
 border-left: 5px solid transparent;
}

.inmenu3{
 position: absolute;
 right: 100%;
 top: -4px;
 border-right: 5px solid transparent;
}

.menu1 .main:last-child .inmenu {
  right: 0;
}

.menu3 .main:last-child .inmenu {
  left: 0;
}

.menu>li:hover>.inmenu,
.inmenu>li:hover>ul{
  display: block;
}

.inmenu a{
  padding: 12px 20px;
  min-width: 210px;
  background-color: #d2d4d5;
  color: #2a3644;
  font-weight: bold;
  font-family: "Arial";
}

.inmenu a:hover {
  background-color: #2a3644;
  color: #ff8505;
}


.flex {
  display: flex;
  justify-content: space-between;
  background-color: #2a3644;
  border-radius: 3px;
}


.main .home {
  position: relative;
  padding-left: 60px;
}

.home:before {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 13px;
  /* right: calc(100% + 10px); */
  left: 30px;
  top: 16px;
  background-image: url(../images/hataplus_sprite.png);
  background-repeat: no-repeat;
  background-position: -111px -24px;
}

.home:hover:before {
  background-position: -111px 0;
}

.socials {
  margin-right: 30px;
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.socials a {
  display: block;
  background: url(../images/hataplus_sprite.png) no-repeat;
}

a.fb {
  width: 11px;
  height: 19px;
  background-position: 0 -20px;
}

a.fb:hover {
  background-position: 0 0;
}

a.tw {
  width: 18px;
  height: 15px;
  background-position: -12px -17px;
}

a.tw:hover {
  background-position: -12px 0;
}

a.in {
  width: 20px;
  height: 20px;
  background-position: -32px -20px;
}

a.in:hover {
  background-position: -32px 0;
}

h2 {
  margin: 50px 0 20px 0;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #bfbfbf;
  font-weight: bold;
  font-family: "Arial";
}

table,
.table_ {
  border-collapse: collapse;
  font-family: "Arial";
  width: 100%;
}

.name {
  text-align: left;
}

th,
b.table_cell {
  font-size: 16px;
  padding: 14px 20px 14px 25px;
  background-color: #2a3644;
  color: white;
}

.number,
b.table_cell:first-child {
  width: 46px;
}

thead tr:last-child th,
b.table_cell:nth-child(n+3) {
  width: 13.6%;
}

th:not(:first-child),
tr~tr th,
b.table_cell:not(:first-child) {
  border-left: 1px solid #3f4852;
}

tr:not(:first-child) th {
  border-top: 1px solid #3f4852;
}

td:not(:first-child),
i.table_cell:not(:first-child) {
  border-left: 1px solid #c0c1c2;
}

tr:not(:first-child) td,
p.row:not(:first-child) i {
  border-top: 1px solid #c0c1c2;
}

tr:first-child th:first-child,
p:first-child b.table_cell:first-child {
  border-radius: 3px 0 0 0;
}

tr:first-child th:last-child,
p.row:first-child b:last-child {
  border-radius: 0 3px 0 0;
}

tr:last-child td:last-child,
p.row:last-child i:last-child {
  border-radius: 0 0 3px 0;
}

tr:last-child td:first-child,
p.row:last-child i:first-child {
  border-radius: 0 0 0 3px;
}

td,
i.table_cell {
  padding: 13px 20px 13px 25px;
  font-size: 16px;
  color: #2a3644;
  font-style: normal;
  /* height: 45px; */
}

tr:nth-child(odd),
p.row:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:nth-child(even),
p.row:nth-child(even) {
  background-color: #e8e8e8;
}

.table_ p.row:hover,
tbody tr:hover {
  background-color: #c0c1c2;
}

.table_ {
  display: table;
}

.row {
  display: table-row;
}

.row p {
  background-color: #2a3644;
}

.table_cell {
  display: table-cell;
}